<h1>Listing translations for <%= @locale.code %></h1>

<table>
  <tr>
    <th>Locale</th>
    <th>Key</th>
    <th>Value</th>
    <th>Pluralization index</th>
  </tr>

<% for translation in @translations %>
  <tr>
    <td><%=h translation.locale_id %></td>
    <td><%=h translation.key %></td>
    <td><%=h translation.value %></td>
    <td><%=h translation.pluralization_index %></td>
    <td><%= link_to 'Show', i18n_locale_translation_path(@locale, translation) %></td>
    <td><%= link_to 'Edit', edit_i18n_locale_translation_path(@locale, translation) %></td>
    <td><%= link_to 'Destroy', i18n_locale_translation_path(@locale, translation), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New translation', new_i18n_locale_translation_path %> |
<%= link_to 'Back', i18n_locales_path %>
