<h1>New translation</h1>

<% form_for(@translation, :url => i18n_locale_translations_path(@locale)) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :key %><br />
    <%= f.text_field :key %>
  </p>
  <p>
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </p>
  <p>
    <%= f.label :pluralization_index %><br />
    <%= f.text_field :pluralization_index %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', i18n_locale_translations_path %>
