<h1>Editing translation for <%= @locale.code %></h1>

<% form_for([@locale, @translation]) do |f| %>
  <%= f.error_messages %>

    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', locale_translation_path(@locale, @translation) %> |
<%= link_to 'Back', locale_translations_path %>
