<h1>Editing translation for <%= @locale.code %></h1>

<p>
  <b>Key:</b>
  <%=h @translation.key %>
</p>

<p>
  <b>Raw Key:</b>
  <%=h @translation.raw_key %>
</p>

<p>
  <b>Pluralization Index:</b>
  <%=h @translation.pluralization_index %>
</p>

<p>
  <b>Default Locale Value:</b>
  <%=h @translation.default_locale_value %>
</p>

<% form_for([@locale, @translation]) do |f| %>
  <%= f.error_messages %>

    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', locale_translation_path(@locale, @translation) %> |
<%= link_to 'Back', locale_translations_path %>
