<p>
  <b>Locale:</b>
  <%=h @locale.code %>
</p>

<p>
  <b>Key:</b>
  <%=h @translation.key %>
</p>

<p>
  <b>Raw Key:</b>
  <%=h @translation.raw_key %>
</p>

<p>
  <b>Pluralization Index:</b>
  <%=h @translation.pluralization_index %>
</p>

<p>
  <b>Default Locale Value:</b>
  <%=h @translation.default_locale_value %>
</p>

<p>
  <b>Value:</b>
  <%=h @translation.value %>
</p>

<%= link_to 'Edit', edit_locale_translation_path(@locale, @translation) %> |
<%= link_to 'Back', locale_translations_path %>
