<p>
  <b>Locale:</b>
  <%=h @locale.code %>
</p>

<p>
  <b>Key:</b>
  <%=h @translation.key %>
</p>

<p>
  <b>Value:</b>
  <%=h @translation.value %>
</p>

<%= link_to 'Edit', edit_locale_translation_path(@locale, @translation) %> |
<%= link_to 'Back', locale_translations_path %>
