<p>
  <%= "Select locale" %>
  <% for locale in Locale.all %>
    <%= link_to locale.code, url_for(:locale_id => locale.code) %> &middot;
  <% end %>
</p>

<h1>Untranslated: <%= @locale.code %></h1>
  <script type="text/javascript">
     Event.observe(window, 'load', function() {
         myJsProgressBarHandler = new JS_BRAMUS.jsProgressBar($('translate_progress'), 0);
     }, false);
  </script>

<span class="progressBar" id="translate_progress"><%= @percentage_translated %></span>

<% for asset in @untranslated_assets %>
<p>
  <%= image_tag(asset, :size => "50x50") %>
  <%= link_to(asset, image_path(asset)) %>
</p>
<% end %>