<h1>Listing locales</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Name</th>
  </tr>

<% for locale in @locales %>
  <tr>
    <td><%=h locale.code %></td>
    <td><%=h locale.name %></td>
    <td><%= link_to 'Show', locale %></td>
    <td><%= link_to 'Edit', edit_i18n_locale_path(locale) %></td>
    <td><%= link_to 'Destroy', locale, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New locale', new_i18n_locale_path %>
